.DS_Store
.idea
.envrc
.env
.projectile
*.log
*.jou
tmp/
poetry.lock
README.rst
dap_templates.el

*.egg
*.out
*.pkl
*.old

.hypothesis/
htmlcov/
.Xil/
.pytest_cache/
vivado_out/
dovado_work/
typings/
run_results/
dist/
.vscode/
.ipynb_checkpoints/
venv/
.direnv/
movado_debug/
.python-version
dovado.pdf
.coverage
