[submodule "tests/resources/test_metrics/neorv32"]
	path = tests/resources/test_metrics/neorv32
	url = https://github.com/stnolting/neorv32
[submodule "tests/resources/corundum"]
	path = tests/resources/corundum
	url = https://github.com/corundum/corundum
[submodule "tests/cv32e40p"]
	path = tests/resources/cv32e40p
	url = https://github.com/openhwgroup/cv32e40p
[submodule "tests/resources/rocket-chip"]
	path = tests/resources/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip
