.DS_Store
.idea
.envrc
.env
.projectile
*.log
*.jou
tmp/
poetry.lock
README.rst
dap_templates.el

*.egg
*.out
*.pkl

.hypothesis/
poetry.lock
htmlcov/
.Xil/
.pytest_cache/
vivado_out/
dovado_work/
typings/
run_results/
dist/
.Xil/
.vscode/
.ipynb_checkpoints/
venv/
